.right-bottom-container {
  position: absolute;
  width: 95%;
  height: calc(100% - 60px);
  position: absolute;
  overflow-x: hidden;
}

/* 消息列表容器 */
.message-wrapper {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 60px;
  width: 100%;
  height: calc(100% - 50px);
}

.sendComment {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  text-align: left;
}

div {
  box-sizing: border-box;
}
